<div >
    <img class="chat-avatar" src="{{props.avatar}}" alt="Chat Avatar">
</div>
<div class="chat-info">
    <div class="chat-name">{{props.chatName}}</div>
    <div class="chat-last-message">{{props.chatText}}</div>
</div>
