<!doctype html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/styles/styles.scss" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>
  <main>
  {{> @partial-block}}
  </main>
</body>
</html>
