@import "src/pages/profile/profile.scss";
@import "src/pages/errors/errors.scss";

$font-stack:    Helvetica, sans-serif;
$primary-color: #8b08fe;


.TitleText{
    font: 12px $font-stack;
    color: $primary-color;
}
 
