@import "/src/styles/common";

.card-input-container {
    margin-bottom: 16px; 
    
}

.card-input-title {
    color: $gray;

    @include regular-text;

    font-size: 9px;
    line-height: 9px;
    margin-bottom: 8px; 
    
}

.card-input-field {
    width: 100%; 
    box-sizing: border-box; 
    border: none;
    border-bottom: 1px solid $blue;
    padding: 0 0 6px; 
    outline: none; 
    color: $black;

    @include regular-text;

    
}
