<div class="sidebar">        
    {{{props.sidebarChats}}}
</div>

<div>
    {{{props.messages}}}

    {{{props.messageForm}}}
            
    


            

                
        </div>
    </div>
