<link rel="stylesheet" href="\src\partials\card\card.scss" />
<div class="card-canvas">
    <div class="card-container">
        <h2 class="card-header">{{card-title}}</h2>
        {{> @partial-block}}
    </div>
</div>
