<div class="message-container {{#if props.my_message}}my-message{{else}}other-message{{/if}}">
    <div class="message-time">{{props.time}}</div>
    <div class="message-content">{{props.content}}</div>
</div>
